In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import json

### Choose a time partition

In [96]:
tp = 2

### Loading database

In [78]:
data  = pd.read_csv(f'datos\d{tp}.csv')

In [98]:
data.drop(columns={'Unnamed: 0'}, inplace=True)

## Start

avisocuerpo \
avisocargo\
avisorequisitos

Secure datatypes

In [53]:
data['avisocuerpo'] = data['avisocuerpo'].astype(str)
data['avisocargo'] = data['avisocargo'].astype(str)
data['avisorequisitos'] = data['avisorequisitos'].astype(str)

By 'disponibilidadnombre'

In [99]:
data['disponibilidadnombre'].value_counts()

Jornada Completa        73104
Por Turnos               8522
Pr√°ctica Profesional     5337
Part Time                4504
Media Jornada            1563
Free Lance                960
Comisionista              939
Reemplazo                 849
Teletrabajo                37
Name: disponibilidadnombre, dtype: int64

In [100]:
data['teletrabajo_'] = data['disponibilidadnombre'] == 'Teletrabajo'

#### Load diccionaries

In [56]:
file_path = "dic.json"

# Open and read the JSON file
with open(file_path, "r", encoding="utf-8") as json_file:
    dic = json.load(json_file)

Let's count

In [72]:
results = pd.read_excel('results.xlsx', index_col=0)

Bucket 1

In [58]:
data['avcu_b1'] = data['avisocuerpo'].apply(lambda text: any(item in text for item in dic['b1']))
data['avca_b1'] = data['avisocargo'].apply(lambda text: any(item in text for item in dic['b1']))
data['avre_b1'] = data['avisorequisitos'].apply(lambda text: any(item in text for item in dic['b1']))

Bucket 2

In [59]:
data['avcu_b2'] = data['avisocuerpo'].apply(lambda text: any(item in text for item in dic['b2']))
data['avca_b2'] = data['avisocargo'].apply(lambda text: any(item in text for item in dic['b2']))
data['avre_b2'] = data['avisorequisitos'].apply(lambda text: any(item in text for item in dic['b2']))

Bucket 3

In [60]:
data['avcu_b3'] = data['avisocuerpo'].apply(lambda text: any(all(word in text.split() for word in item.split()) for item in dic['b3']))
data['avca_b3'] = data['avisocargo'].apply(lambda text: any(all(word in text.split() for word in item.split()) for item in dic['b3']))
data['avre_b3'] = data['avisorequisitos'].apply(lambda text: any(all(word in text.split() for word in item.split()) for item in dic['b3']))

Bucket 4

In [61]:
data['avcu_b4'] = data['avisocuerpo'].apply(lambda text: any(item in text for item in dic['b4']))
data['avca_b4'] = data['avisocargo'].apply(lambda text: any(item in text for item in dic['b4']))
data['avre_b4'] = data['avisorequisitos'].apply(lambda text: any(item in text for item in dic['b4']))

Saving

In [62]:
results['avcu_bucket 1'][tp] = data['avcu_b1'].sum()
results['avcu_bucket 2'][tp] = data['avcu_b2'].sum()
results['avcu_bucket 3'][tp] = data['avcu_b3'].sum()
results['avcu_bucket 4'][tp] = data['avcu_b4'].sum()

results['avca_bucket 1'][tp] = data['avca_b1'].sum()
results['avca_bucket 2'][tp] = data['avca_b2'].sum()
results['avca_bucket 3'][tp] = data['avca_b3'].sum()
results['avca_bucket 4'][tp] = data['avca_b4'].sum()

results['avre_bucket 1'][tp] = data['avre_b1'].sum()
results['avre_bucket 2'][tp] = data['avre_b2'].sum()
results['avre_bucket 3'][tp] = data['avre_b3'].sum()
results['avre_bucket 4'][tp] = data['avre_b4'].sum()

results['teletrabajo'][tp] = data['teletrabajo_'].sum()

In [101]:
print("Sum of avcu_b1:", data['avcu_b1'].sum())
print("Sum of avcu_b2:", data['avcu_b2'].sum())
print("Sum of avcu_b3:", data['avcu_b3'].sum())
print("Sum of avcu_b4:", data['avcu_b4'].sum())

print("Sum of avca_b1:", data['avca_b1'].sum())
print("Sum of avca_b2:", data['avca_b2'].sum())
print("Sum of avca_b3:", data['avca_b3'].sum())
print("Sum of avca_b4:", data['avca_b4'].sum())

print("Sum of avre_b1:", data['avre_b1'].sum())
print("Sum of avre_b2:", data['avre_b2'].sum())
print("Sum of avre_b3:", data['avre_b3'].sum())
print("Sum of avre_b4:", data['avre_b4'].sum())
print('Sum of Teletrabajo:', data['teletrabajo_'].sum())

Sum of avcu_b1: 3743
Sum of avcu_b2: 489
Sum of avcu_b3: 3173
Sum of avcu_b4: 191
Sum of avca_b1: 2
Sum of avca_b2: 55
Sum of avca_b3: 9
Sum of avca_b4: 4
Sum of avre_b1: 242
Sum of avre_b2: 47
Sum of avre_b3: 56
Sum of avre_b4: 20
Sum of Teletrabajo: 37

In [102]:
data.to_csv(f'datos\counted\d{tp}_counted.csv')

In [86]:
results.to_excel('results.xlsx')

In [85]:
results

,avcu_bucket 1,avcu_bucket 2,avcu_bucket 3,avcu_bucket 4,avca_bucket 1,avca_bucket 2,avca_bucket 3,avca_bucket 4,avre_bucket 1,avre_bucket 2,avre_bucket 3,avre_bucket 4,teletrabajo
1,55701,7362,40488,5511,124,1032,188,130,7563,1725,2110,822,47.0
2,3743,489,3173,191,2,55,9,4,242,47,56,20,37.0
3,3722,3290,2933,362,3,419,266,6,260,537,253,49,10671.0
4,36048,30887,29172,3564,31,5898,3137,24,4802,6995,2447,177,37595.0