In [438]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import json

### Choose a year

In [439]:
year = '2023'

### Loading database

In [440]:
data  = pd.read_csv(f'datos\d{year}.csv')

In [441]:
data.rename(columns={'Unnamed: 0' : 'pyindex'}, inplace=True)

### Database Info

In [442]:
data.columns

Index(['pyindex', 'avisoid', 'empresaid', 'avisofechapublicacion',
       'avisovacante', 'mostrarsueldo', 'avisoexperiencia', 'expiracion',
       'dias', 'avisorepublicacion', 'avisocargo', 'areanombre',
       'actividadempresanombre', 'avisocuerpo', 'disponibilidadnombre',
       'avisoduracioncont', 'avisolugartrabajo', 'gradoescolarnombre',
       'situacionestudios', 'avisorequisitos', 'carreras', 'estado',
       'endpagado_o_gratuito', 'nivelnombre', 'carreras_array',
       'sueldoestimado', '_merge'],
      dtype='object')

In [443]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134731 entries, 0 to 134730
Data columns (total 27 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   pyindex                 134731 non-null  int64
 1   avisoid                 134731 non-null  float64
 2   empresaid               134731 non-null  int64
 3   avisofechapublicacion   134731 non-null  object
 4   avisovacante            134731 non-null  float64
 5   mostrarsueldo           134731 non-null  float64
 6   avisoexperiencia        134731 non-null  float64
 7   expiracion              134731 non-null  object
 8   dias                    134731 non-null  int64
 9   avisorepublicacion      134731 non-null  int64
 10  avisocargo              134731 non-null  object
 11  areanombre              134731 non-null  object
 12  actividadempresanombre  133349 non-null  object
 13  avisocuerpo             134723 non-null  object
 14  disponibilidadnombre    134731 non-null  object
 15  avisoduracioncont       25588 non-null   object
 16  avisolugartrabajo       119730 non-null  object
 17  gradoescolarnombre      134731 non-null  object
 18  situacionestudios       134731 non-null  object
 19  avisorequisitos         134727 non-null  object
 20  carreras                54855 non-null   object
 21  estado                  134731 non-null  object
 22  endpagado_o_gratuito    134731 non-null  object
 23  nivelnombre             134731 non-null  object
 24  carreras_array          0 non-null       float64
 25  sueldoestimado          134731 non-null  float64
 26  _merge                  134731 non-null  object
dtypes: float64(6), int64(4), object(17)
memory usage: 27.8+ MB

## Start

avisocuerpo \
avisocargo\
avisorequisitos

Secure datatypes

In [444]:
data['avisocuerpo'] = data['avisocuerpo'].astype(str)
data['avisocargo'] = data['avisocargo'].astype(str)
data['avisorequisitos'] = data['avisorequisitos'].astype(str)

#### Load diccionaries

In [445]:
file_path = "dic.json"

# Open and read the JSON file
with open(file_path, "r", encoding="utf-8") as json_file:
    dic = json.load(json_file)

Let's count

In [446]:
results = pd.read_excel('results.xlsx', index_col=0)

Bucket 1

In [447]:
data['b1'] = data['avisocuerpo'].apply(lambda text: any(item in text for item in dic['b1']))

Bucket 2

In [448]:
data['b2'] = data['avisocuerpo'].apply(lambda text: any(item in text for item in dic['b2']))

Bucket 3

In [449]:
data['b3'] = data['avisocuerpo'].apply(lambda text: any(item in text for item in dic['b3']))

Bucket 4

In [450]:
data['b4'] = data['avisocuerpo'].apply(lambda text: any(item in text for item in dic['b4']))

Saving

In [451]:
print(f"bucket 1: {data['b1'].sum()}")
print(f"bucket 2: {data['b2'].sum()}")
print(f"bucket 3: {data['b3'].sum()}")
print(f"bucket 4: {data['b4'].sum()}")

bucket 1: 1
bucket 2: 2105
bucket 3: 40
bucket 4: 1161

In [452]:
results['bucket 1'][2023] = data['b1'].sum()
results['bucket 2'][2023] = data['b2'].sum()
results['bucket 3'][2023] = data['b3'].sum()
results['bucket 4'][2023] = data['b4'].sum()

In [453]:
results.to_excel('results.xlsx')

In [454]:
results

      bucket 1  bucket 2  bucket 3  bucket 4
2008       0.0       9.0       0.0      34.0
2009       0.0      98.0       0.0     100.0
2010       0.0      46.0       0.0     253.0
2011       0.0      69.0       0.0     192.0
2012       0.0     210.0       0.0     330.0
2013       0.0     109.0       0.0     234.0
2014       0.0      49.0       0.0     141.0
2015       0.0      75.0       0.0     120.0
2016       0.0      90.0       0.0     166.0
2017       0.0      73.0       5.0     370.0
2018       0.0     115.0       0.0     152.0
2019       0.0     296.0       0.0     335.0
2020       0.0    1320.0      13.0     960.0
2021       0.0    5603.0      35.0    4205.0
2022       0.0    5000.0      35.0    3726.0
2023       1.0    2105.0      40.0    1161.0