In [37]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import json

### Choose a year

In [38]:
year = '2010'

### Loading database

In [39]:
data  = pd.read_csv(f'datos\d{year}.csv')

In [40]:
data.rename(columns={'Unnamed: 0' : 'pyindex'}, inplace=True)

### Database Info

In [41]:
data.columns

Index(['pyindex', 'avisoid', 'empresaid', 'avisofechapublicacion',
       'avisovacante', 'mostrarsueldo', 'avisoexperiencia', 'expiracion',
       'dias', 'avisorepublicacion', 'avisocargo', 'areanombre',
       'actividadempresanombre', 'avisocuerpo', 'disponibilidadnombre',
       'avisoduracioncont', 'avisolugartrabajo', 'gradoescolarnombre',
       'situacionestudios', 'avisorequisitos', 'carreras', 'estado',
       'endpagado_o_gratuito', 'nivelnombre', 'carreras_array',
       'sueldoestimado', '_merge'],
      dtype='object')

In [42]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191887 entries, 0 to 191886
Data columns (total 27 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   pyindex                 191887 non-null  int64
 1   avisoid                 191887 non-null  float64
 2   empresaid               191887 non-null  int64
 3   avisofechapublicacion   191887 non-null  object
 4   avisovacante            191887 non-null  float64
 5   mostrarsueldo           174701 non-null  float64
 6   avisoexperiencia        174340 non-null  float64
 7   expiracion              191887 non-null  object
 8   dias                    191887 non-null  int64
 9   avisorepublicacion      191887 non-null  int64
 10  avisocargo              191777 non-null  object
 11  areanombre              191887 non-null  object
 12  actividadempresanombre  190020 non-null  object
 13  avisocuerpo             180952 non-null  object
 14  disponibilidadnombre    191887 non-null  object
 15  avisoduracioncont       173211 non-null  object
 16  avisolugartrabajo       173951 non-null  object
 17  gradoescolarnombre      174701 non-null  object
 18  situacionestudios       174107 non-null  object
 19  avisorequisitos         188867 non-null  object
 20  carreras                126498 non-null  object
 21  estado                  191887 non-null  object
 22  endpagado_o_gratuito    191301 non-null  object
 23  nivelnombre             174701 non-null  object
 24  carreras_array          0 non-null       float64
 25  sueldoestimado          174697 non-null  float64
 26  _merge                  191887 non-null  object
dtypes: float64(6), int64(4), object(17)
memory usage: 39.5+ MB

## Start

avisocuerpo \
avisocargo\
avisorequisitos

Secure datatypes

In [43]:
data['avisocuerpo'] = data['avisocuerpo'].astype(str)
data['avisocargo'] = data['avisocargo'].astype(str)
data['avisorequisitos'] = data['avisorequisitos'].astype(str)

#### Load diccionaries

In [44]:
file_path = "dic.json"

# Open and read the JSON file
with open(file_path, "r", encoding="utf-8") as json_file:
    dic = json.load(json_file)

Let's count

In [45]:
results = pd.read_excel('results.xlsx', index_col=0)

Bucket 1

In [46]:
data['avcu_b1'] = data['avisocuerpo'].apply(lambda text: any(item in text for item in dic['b1']))
data['avca_b1'] = data['avisocargo'].apply(lambda text: any(item in text for item in dic['b1']))
data['avre_b1'] = data['avisorequisitos'].apply(lambda text: any(item in text for item in dic['b1']))

Bucket 2

In [47]:
data['avcu_b2'] = data['avisocuerpo'].apply(lambda text: any(item in text for item in dic['b2']))
data['avca_b2'] = data['avisocargo'].apply(lambda text: any(item in text for item in dic['b2']))
data['avre_b2'] = data['avisorequisitos'].apply(lambda text: any(item in text for item in dic['b2']))

Bucket 3

In [48]:
data['avcu_b3'] = data['avisocuerpo'].apply(lambda text: any(all(word in text.split() for word in item.split()) for item in dic['b3']))
data['avca_b3'] = data['avisocargo'].apply(lambda text: any(all(word in text.split() for word in item.split()) for item in dic['b3']))
data['avre_b3'] = data['avisorequisitos'].apply(lambda text: any(all(word in text.split() for word in item.split()) for item in dic['b3']))

Bucket 4

In [49]:
data['avcu_b4'] = data['avisocuerpo'].apply(lambda text: any(item in text for item in dic['b4']))
data['avca_b4'] = data['avisocargo'].apply(lambda text: any(item in text for item in dic['b4']))
data['avre_b4'] = data['avisorequisitos'].apply(lambda text: any(item in text for item in dic['b4']))

Saving

In [50]:
results['avcu_bucket 1'][2010] = data['avcu_b1'].sum()
results['avcu_bucket 2'][2010] = data['avcu_b2'].sum()
results['avcu_bucket 3'][2010] = data['avcu_b3'].sum()
results['avcu_bucket 4'][2010] = data['avcu_b4'].sum()

results['avca_bucket 1'][2010] = data['avca_b1'].sum()
results['avca_bucket 2'][2010] = data['avca_b2'].sum()
results['avca_bucket 3'][2010] = data['avca_b3'].sum()
results['avca_bucket 4'][2010] = data['avca_b4'].sum()

results['avre_bucket 1'][2010] = data['avre_b1'].sum()
results['avre_bucket 2'][2010] = data['avre_b2'].sum()
results['avre_bucket 3'][2010] = data['avre_b3'].sum()
results['avre_bucket 4'][2010] = data['avre_b4'].sum()

In [51]:
print("Sum of avcu_b1:", data['avcu_b1'].sum())
print("Sum of avcu_b2:", data['avcu_b2'].sum())
print("Sum of avcu_b3:", data['avcu_b3'].sum())
print("Sum of avcu_b4:", data['avcu_b4'].sum())

print("Sum of avca_b1:", data['avca_b1'].sum())
print("Sum of avca_b2:", data['avca_b2'].sum())
print("Sum of avca_b3:", data['avca_b3'].sum())
print("Sum of avca_b4:", data['avca_b4'].sum())

print("Sum of avre_b1:", data['avre_b1'].sum())
print("Sum of avre_b2:", data['avre_b2'].sum())
print("Sum of avre_b3:", data['avre_b3'].sum())
print("Sum of avre_b4:", data['avre_b4'].sum())

Sum of avcu_b1: 2715
Sum of avcu_b2: 412
Sum of avcu_b3: 1067
Sum of avcu_b4: 467
Sum of avca_b1: 11
Sum of avca_b2: 53
Sum of avca_b3: 4
Sum of avca_b4: 5
Sum of avre_b1: 666
Sum of avre_b2: 87
Sum of avre_b3: 152
Sum of avre_b4: 83

In [52]:
data.to_csv(f'datos\counted\d{year}_counted.csv')

In [53]:
results.to_excel('results.xlsx')

In [54]:
results

,avcu_bucket 1,avcu_bucket 2,avcu_bucket 3,avcu_bucket 4,avca_bucket 1,avca_bucket 2,avca_bucket 3,avca_bucket 4,avre_bucket 1,avre_bucket 2,avre_bucket 3,avre_bucket 4
2008,1865,172,611,111,6,13,1,6,310,60,119,65
2009,1794,372,930,257,6,37,4,7,362,98,161,54
2010,2715,412,1067,467,11,53,4,5,666,87,152,83
2011,3931,69,2091,192,4,9,10,40,805,13,215,16
2012,4631,210,3240,330,29,0,0,129,808,14,248,21
2013,6168,109,2339,234,2,0,0,5,896,8,316,9
2014,5710,49,1863,141,4,0,0,5,651,34,283,14
2015,5670,75,2362,120,34,4,0,8,955,16,136,26
2016,6000,90,6090,166,8,1,2,4,580,13,133,16
2017,5493,73,5045,370,8,8,1,9,580,12,118,21
2018,5992,115,7984,152,8,2,0,3,512,16,114,35
2019,7340,296,8488,335,5,17,0,6,554,17,103,3
2020,5837,1320,3887,960,3,40,35,249,378,251,220,91
2021,12328,5603,9729,4205,8,291,229,1765,1617,1361,779,653
2022,15339,5000,11300,3726,14,82,46,1419,2029,1365,670,484
2023,8119,2105,4876,1161,9,11,6,233,1149,478,317,127