In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import json

### Choose a time partition

In [4]:
tp = 1

### Loading database

In [7]:
data  = pd.read_csv(f'datos\d{tp}.csv')

In [8]:
data.drop(columns={'Unnamed: 0'}, inplace=True)

## Start

avisocuerpo \
avisocargo\
avisorequisitos

Secure datatypes

In [11]:
data['avisocuerpo'] = data['avisocuerpo'].astype(str)
data['avisocargo'] = data['avisocargo'].astype(str)
data['avisorequisitos'] = data['avisorequisitos'].astype(str)

By 'disponibilidadnombre'

In [14]:
data['disponibilidadnombre'].value_counts()

Jornada Completa        1795535
Por Turnos               175073
Part Time                130426
Pr√°ctica Profesional     100114
Media Jornada             62892
Comisionista              15053
Reemplazo                 11679
Free Lance                10157
Teletrabajo                  47
Name: disponibilidadnombre, dtype: int64

#### Load diccionaries

In [12]:
file_path = "dic.json"

# Open and read the JSON file
with open(file_path, "r", encoding="utf-8") as json_file:
    dic = json.load(json_file)

Let's count

In [44]:
results = pd.read_excel('results.xlsx', index_col=0)

Bucket 1

In [46]:
data['avcu_b1'] = data['avisocuerpo'].apply(lambda text: any(item in text for item in dic['b1']))
data['avca_b1'] = data['avisocargo'].apply(lambda text: any(item in text for item in dic['b1']))
data['avre_b1'] = data['avisorequisitos'].apply(lambda text: any(item in text for item in dic['b1']))

Bucket 2

In [29]:
data['avcu_b2'] = data['avisocuerpo'].apply(lambda text: any(item in text for item in dic['b2']))
data['avca_b2'] = data['avisocargo'].apply(lambda text: any(item in text for item in dic['b2']))
data['avre_b2'] = data['avisorequisitos'].apply(lambda text: any(item in text for item in dic['b2']))

Bucket 3

In [30]:
data['avcu_b3'] = data['avisocuerpo'].apply(lambda text: any(all(word in text.split() for word in item.split()) for item in dic['b3']))
data['avca_b3'] = data['avisocargo'].apply(lambda text: any(all(word in text.split() for word in item.split()) for item in dic['b3']))
data['avre_b3'] = data['avisorequisitos'].apply(lambda text: any(all(word in text.split() for word in item.split()) for item in dic['b3']))

Bucket 4

In [31]:
data['avcu_b4'] = data['avisocuerpo'].apply(lambda text: any(item in text for item in dic['b4']))
data['avca_b4'] = data['avisocargo'].apply(lambda text: any(item in text for item in dic['b4']))
data['avre_b4'] = data['avisorequisitos'].apply(lambda text: any(item in text for item in dic['b4']))

Saving

In [32]:
results['avcu_bucket 1'][1] = data['avcu_b1'].sum()
results['avcu_bucket 2'][1] = data['avcu_b2'].sum()
results['avcu_bucket 3'][1] = data['avcu_b3'].sum()
results['avcu_bucket 4'][1] = data['avcu_b4'].sum()

results['avca_bucket 1'][1] = data['avca_b1'].sum()
results['avca_bucket 2'][1] = data['avca_b2'].sum()
results['avca_bucket 3'][1] = data['avca_b3'].sum()
results['avca_bucket 4'][1] = data['avca_b4'].sum()

results['avre_bucket 1'][1] = data['avre_b1'].sum()
results['avre_bucket 2'][1] = data['avre_b2'].sum()
results['avre_bucket 3'][1] = data['avre_b3'].sum()
results['avre_bucket 4'][1] = data['avre_b4'].sum()

In [33]:
print("Sum of avcu_b1:", data['avcu_b1'].sum())
print("Sum of avcu_b2:", data['avcu_b2'].sum())
print("Sum of avcu_b3:", data['avcu_b3'].sum())
print("Sum of avcu_b4:", data['avcu_b4'].sum())

print("Sum of avca_b1:", data['avca_b1'].sum())
print("Sum of avca_b2:", data['avca_b2'].sum())
print("Sum of avca_b3:", data['avca_b3'].sum())
print("Sum of avca_b4:", data['avca_b4'].sum())

print("Sum of avre_b1:", data['avre_b1'].sum())
print("Sum of avre_b2:", data['avre_b2'].sum())
print("Sum of avre_b3:", data['avre_b3'].sum())
print("Sum of avre_b4:", data['avre_b4'].sum())

Sum of avcu_b1: 8200
Sum of avcu_b2: 4642
Sum of avcu_b3: 5247
Sum of avcu_b4: 571
Sum of avca_b1: 9
Sum of avca_b2: 558
Sum of avca_b3: 163
Sum of avca_b4: 2
Sum of avre_b1: 1151
Sum of avre_b2: 941
Sum of avre_b3: 394
Sum of avre_b4: 44

In [34]:
data.to_csv(f'datos\counted\d{year}_counted.csv')

In [35]:
results.to_excel('results.xlsx')

In [36]:
results

,avcu_bucket 1,avcu_bucket 2,avcu_bucket 3,avcu_bucket 4,avca_bucket 1,avca_bucket 2,avca_bucket 3,avca_bucket 4,avre_bucket 1,avre_bucket 2,avre_bucket 3,avre_bucket 4
2008,1865,172,611,111,6,13,1,6,310,60,119,65
2009,1794,372,930,257,6,37,4,7,362,98,161,54
2010,2715,412,1067,467,11,53,4,5,666,87,152,83
2011,3931,617,2102,297,4,81,31,2,806,232,218,77
2012,4632,640,3263,565,29,324,118,19,809,234,257,80
2013,6168,657,2348,553,2,81,2,29,896,131,319,70
2014,5710,500,1885,489,4,62,1,15,651,185,288,92
2015,5670,545,2378,516,34,72,7,4,955,161,138,58
2016,6000,745,6111,492,8,53,5,13,580,146,135,77
2017,5502,643,5078,727,8,69,6,16,581,134,127,54
2018,5995,1071,8010,500,8,96,5,5,512,146,120,85
2019,7343,1285,8519,666,5,131,9,11,559,136,105,34
2020,5841,3482,4292,424,4,434,270,8,378,559,280,62
2021,12354,14423,11470,1147,8,2676,1643,11,1617,3145,1196,50
2022,15494,11822,12455,1846,14,2664,1331,11,2034,2909,857,83
2023,8200,4642,5247,571,9,558,163,2,1151,941,394,44