In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import json

### Choose a time partition

In [2]:
tp = 1

### Loading database

In [3]:
data  = pd.read_csv(f'datos\d{tp}.csv')

In [4]:
data.drop(columns={'Unnamed: 0'}, inplace=True)

## Start

avisocuerpo \
avisocargo\
avisorequisitos

Secure datatypes

In [5]:
data['avisocuerpo'] = data['avisocuerpo'].astype(str)
data['avisocargo'] = data['avisocargo'].astype(str)
data['avisorequisitos'] = data['avisorequisitos'].astype(str)

By 'disponibilidadnombre'

In [6]:
data['disponibilidadnombre'].value_counts()

Jornada Completa        1795535
Por Turnos               175073
Part Time                130426
Pr√°ctica Profesional     100114
Media Jornada             62892
Comisionista              15053
Reemplazo                 11679
Free Lance                10157
Teletrabajo                  47
Name: disponibilidadnombre, dtype: int64

#### Load diccionaries

In [7]:
file_path = "dic.json"

# Open and read the JSON file
with open(file_path, "r", encoding="utf-8") as json_file:
    dic = json.load(json_file)

Let's count

In [8]:
results = pd.read_excel('results.xlsx', index_col=0)

Bucket 1

In [10]:
data['avcu_b1'] = data['avisocuerpo'].apply(lambda text: any(item in text for item in dic['b1']))
data['avca_b1'] = data['avisocargo'].apply(lambda text: any(item in text for item in dic['b1']))
data['avre_b1'] = data['avisorequisitos'].apply(lambda text: any(item in text for item in dic['b1']))

Bucket 2

In [11]:
data['avcu_b2'] = data['avisocuerpo'].apply(lambda text: any(item in text for item in dic['b2']))
data['avca_b2'] = data['avisocargo'].apply(lambda text: any(item in text for item in dic['b2']))
data['avre_b2'] = data['avisorequisitos'].apply(lambda text: any(item in text for item in dic['b2']))

Bucket 3

In [12]:
data['avcu_b3'] = data['avisocuerpo'].apply(lambda text: any(all(word in text.split() for word in item.split()) for item in dic['b3']))
data['avca_b3'] = data['avisocargo'].apply(lambda text: any(all(word in text.split() for word in item.split()) for item in dic['b3']))
data['avre_b3'] = data['avisorequisitos'].apply(lambda text: any(all(word in text.split() for word in item.split()) for item in dic['b3']))

Bucket 4

In [13]:
data['avcu_b4'] = data['avisocuerpo'].apply(lambda text: any(item in text for item in dic['b4']))
data['avca_b4'] = data['avisocargo'].apply(lambda text: any(item in text for item in dic['b4']))
data['avre_b4'] = data['avisorequisitos'].apply(lambda text: any(item in text for item in dic['b4']))

Saving

In [14]:
results['avcu_bucket 1'][tp] = data['avcu_b1'].sum()
results['avcu_bucket 2'][tp] = data['avcu_b2'].sum()
results['avcu_bucket 3'][tp] = data['avcu_b3'].sum()
results['avcu_bucket 4'][tp] = data['avcu_b4'].sum()

results['avca_bucket 1'][tp] = data['avca_b1'].sum()
results['avca_bucket 2'][tp] = data['avca_b2'].sum()
results['avca_bucket 3'][tp] = data['avca_b3'].sum()
results['avca_bucket 4'][tp] = data['avca_b4'].sum()

results['avre_bucket 1'][tp] = data['avre_b1'].sum()
results['avre_bucket 2'][tp] = data['avre_b2'].sum()
results['avre_bucket 3'][tp] = data['avre_b3'].sum()
results['avre_bucket 4'][tp] = data['avre_b4'].sum()

In [16]:
print("Sum of avcu_b1:", data['avcu_b1'].sum())
print("Sum of avcu_b2:", data['avcu_b2'].sum())
print("Sum of avcu_b3:", data['avcu_b3'].sum())
print("Sum of avcu_b4:", data['avcu_b4'].sum())

print("Sum of avca_b1:", data['avca_b1'].sum())
print("Sum of avca_b2:", data['avca_b2'].sum())
print("Sum of avca_b3:", data['avca_b3'].sum())
print("Sum of avca_b4:", data['avca_b4'].sum())

print("Sum of avre_b1:", data['avre_b1'].sum())
print("Sum of avre_b2:", data['avre_b2'].sum())
print("Sum of avre_b3:", data['avre_b3'].sum())
print("Sum of avre_b4:", data['avre_b4'].sum())

Sum of avcu_b1: 55701
Sum of avcu_b2: 7362
Sum of avcu_b3: 40488
Sum of avcu_b4: 5511
Sum of avca_b1: 124
Sum of avca_b2: 1032
Sum of avca_b3: 188
Sum of avca_b4: 130
Sum of avre_b1: 7563
Sum of avre_b2: 1725
Sum of avre_b3: 2110
Sum of avre_b4: 822

In [17]:
data.to_csv(f'datos\counted\d{tp}_counted.csv')

In [20]:
results.to_excel('results.xlsx')

In [19]:
results

,avcu_bucket 1,avcu_bucket 2,avcu_bucket 3,avcu_bucket 4,avca_bucket 1,avca_bucket 2,avca_bucket 3,avca_bucket 4,avre_bucket 1,avre_bucket 2,avre_bucket 3,avre_bucket 4
1,55701.0,7362.0,40488.0,5511.0,124.0,1032.0,188.0,130.0,7563.0,1725.0,2110.0,822.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN