In [449]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import json

### Choose a year

In [450]:
year = '2023'

### Loading database

In [451]:
data  = pd.read_csv(f'datos\d{year}.csv')

In [452]:
data.rename(columns={'Unnamed: 0' : 'pyindex'}, inplace=True)

### Database Info

In [453]:
data.columns

Index(['pyindex', 'avisoid', 'empresaid', 'avisofechapublicacion',
       'avisovacante', 'mostrarsueldo', 'avisoexperiencia', 'expiracion',
       'dias', 'avisorepublicacion', 'avisocargo', 'areanombre',
       'actividadempresanombre', 'avisocuerpo', 'disponibilidadnombre',
       'avisoduracioncont', 'avisolugartrabajo', 'gradoescolarnombre',
       'situacionestudios', 'avisorequisitos', 'carreras', 'estado',
       'endpagado_o_gratuito', 'nivelnombre', 'carreras_array',
       'sueldoestimado', '_merge'],
      dtype='object')

In [454]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134731 entries, 0 to 134730
Data columns (total 27 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   pyindex                 134731 non-null  int64
 1   avisoid                 134731 non-null  float64
 2   empresaid               134731 non-null  int64
 3   avisofechapublicacion   134731 non-null  object
 4   avisovacante            134731 non-null  float64
 5   mostrarsueldo           134731 non-null  float64
 6   avisoexperiencia        134731 non-null  float64
 7   expiracion              134731 non-null  object
 8   dias                    134731 non-null  int64
 9   avisorepublicacion      134731 non-null  int64
 10  avisocargo              134731 non-null  object
 11  areanombre              134731 non-null  object
 12  actividadempresanombre  133349 non-null  object
 13  avisocuerpo             134723 non-null  object
 14  disponibilidadnombre    134731 non-null  object
 15  avisoduracioncont       25588 non-null   object
 16  avisolugartrabajo       119730 non-null  object
 17  gradoescolarnombre      134731 non-null  object
 18  situacionestudios       134731 non-null  object
 19  avisorequisitos         134727 non-null  object
 20  carreras                54855 non-null   object
 21  estado                  134731 non-null  object
 22  endpagado_o_gratuito    134731 non-null  object
 23  nivelnombre             134731 non-null  object
 24  carreras_array          0 non-null       float64
 25  sueldoestimado          134731 non-null  float64
 26  _merge                  134731 non-null  object
dtypes: float64(6), int64(4), object(17)
memory usage: 27.8+ MB

## Start

avisocuerpo \
avisocargo\
avisorequisitos

Secure datatypes

In [455]:
data['avisocuerpo'] = data['avisocuerpo'].astype(str)
data['avisocargo'] = data['avisocargo'].astype(str)
data['avisorequisitos'] = data['avisorequisitos'].astype(str)

#### Load diccionaries

In [456]:
file_path = "dic.json"

# Open and read the JSON file
with open(file_path, "r", encoding="utf-8") as json_file:
    dic = json.load(json_file)

Let's count

In [457]:
results = pd.read_excel('results.xlsx', index_col=0)

Bucket 1

In [458]:
data['avcu_b1'] = data['avisocuerpo'].apply(lambda text: any(item in text for item in dic['b1']))
data['avca_b1'] = data['avisocargo'].apply(lambda text: any(item in text for item in dic['b1']))
data['avre_b1'] = data['avisorequisitos'].apply(lambda text: any(item in text for item in dic['b1']))

Bucket 2

In [459]:
data['avcu_b2'] = data['avisocuerpo'].apply(lambda text: any(item in text for item in dic['b2']))
data['avca_b2'] = data['avisocargo'].apply(lambda text: any(item in text for item in dic['b2']))
data['avre_b2'] = data['avisorequisitos'].apply(lambda text: any(item in text for item in dic['b2']))

Bucket 3

In [460]:
data['avcu_b3'] = data['avisocuerpo'].apply(lambda text: any(all(word in text.split() for word in item.split()) for item in dic['b3']))
data['avca_b3'] = data['avisocargo'].apply(lambda text: any(all(word in text.split() for word in item.split()) for item in dic['b3']))
data['avre_b3'] = data['avisorequisitos'].apply(lambda text: any(all(word in text.split() for word in item.split()) for item in dic['b3']))

Bucket 4

In [461]:
data['avcu_b4'] = data['avisocuerpo'].apply(lambda text: any(item in text for item in dic['b4']))
data['avca_b4'] = data['avisocargo'].apply(lambda text: any(item in text for item in dic['b4']))
data['avre_b4'] = data['avisorequisitos'].apply(lambda text: any(item in text for item in dic['b4']))

Saving

In [462]:
results['avcu_bucket 1'][2023] = data['avcu_b1'].sum()
results['avcu_bucket 2'][2023] = data['avcu_b2'].sum()
results['avcu_bucket 3'][2023] = data['avcu_b3'].sum()
results['avcu_bucket 4'][2023] = data['avcu_b4'].sum()

results['avca_bucket 1'][2023] = data['avca_b1'].sum()
results['avca_bucket 2'][2023] = data['avca_b2'].sum()
results['avca_bucket 3'][2023] = data['avca_b3'].sum()
results['avca_bucket 4'][2023] = data['avca_b4'].sum()

results['avre_bucket 1'][2023] = data['avre_b1'].sum()
results['avre_bucket 2'][2023] = data['avre_b2'].sum()
results['avre_bucket 3'][2023] = data['avre_b3'].sum()
results['avre_bucket 4'][2023] = data['avre_b4'].sum()

In [463]:
print("Sum of avcu_b1:", data['avcu_b1'].sum())
print("Sum of avcu_b2:", data['avcu_b2'].sum())
print("Sum of avcu_b3:", data['avcu_b3'].sum())
print("Sum of avcu_b4:", data['avcu_b4'].sum())

print("Sum of avca_b1:", data['avca_b1'].sum())
print("Sum of avca_b2:", data['avca_b2'].sum())
print("Sum of avca_b3:", data['avca_b3'].sum())
print("Sum of avca_b4:", data['avca_b4'].sum())

print("Sum of avre_b1:", data['avre_b1'].sum())
print("Sum of avre_b2:", data['avre_b2'].sum())
print("Sum of avre_b3:", data['avre_b3'].sum())
print("Sum of avre_b4:", data['avre_b4'].sum())

Sum of avcu_b1: 8119
Sum of avcu_b2: 2105
Sum of avcu_b3: 4876
Sum of avcu_b4: 1161
Sum of avca_b1: 9
Sum of avca_b2: 11
Sum of avca_b3: 6
Sum of avca_b4: 233
Sum of avre_b1: 1149
Sum of avre_b2: 478
Sum of avre_b3: 317
Sum of avre_b4: 127

In [464]:
data.to_csv(f'datos\counted\d{year}_counted.csv')

In [465]:
results.to_excel('results.xlsx')

In [466]:
results

,avcu_bucket 1,avcu_bucket 2,avcu_bucket 3,avcu_bucket 4,avca_bucket 1,avca_bucket 2,avca_bucket 3,avca_bucket 4,avre_bucket 1,avre_bucket 2,avre_bucket 3,avre_bucket 4
2008,1865.0,9.0,608.0,34.0,6.0,0.0,0.0,1.0,310.0,6.0,119.0,14.0
2009,1793.0,98.0,923.0,100.0,6.0,1.0,1.0,4.0,362.0,19.0,161.0,9.0
2010,2715.0,46.0,1057.0,253.0,11.0,0.0,1.0,10.0,666.0,13.0,152.0,13.0
2011,3931.0,69.0,2091.0,192.0,4.0,9.0,10.0,40.0,805.0,13.0,215.0,16.0
2012,4631.0,210.0,3240.0,330.0,29.0,0.0,0.0,129.0,808.0,14.0,248.0,21.0
2013,6168.0,109.0,2339.0,234.0,2.0,0.0,0.0,5.0,896.0,8.0,316.0,9.0
2014,5710.0,49.0,1863.0,141.0,4.0,0.0,0.0,5.0,651.0,34.0,283.0,14.0
2015,5670.0,75.0,2362.0,120.0,34.0,4.0,0.0,8.0,955.0,16.0,136.0,26.0
2016,6000.0,90.0,6090.0,166.0,8.0,1.0,2.0,4.0,580.0,13.0,133.0,16.0
2017,5493.0,73.0,5045.0,370.0,8.0,8.0,1.0,9.0,580.0,12.0,118.0,21.0
2018,5992.0,115.0,7984.0,152.0,8.0,2.0,0.0,3.0,512.0,16.0,114.0,35.0
2019,7340.0,296.0,8488.0,335.0,5.0,17.0,0.0,6.0,554.0,17.0,103.0,3.0
2020,5837.0,1320.0,3887.0,960.0,3.0,40.0,35.0,249.0,378.0,251.0,220.0,91.0
2021,12328.0,5603.0,9729.0,4205.0,8.0,291.0,229.0,1765.0,1617.0,1361.0,779.0,653.0
2022,15339.0,5000.0,11300.0,3726.0,14.0,82.0,46.0,1419.0,2029.0,1365.0,670.0,484.0
2023,8119.0,2105.0,4876.0,1161.0,9.0,11.0,6.0,233.0,1149.0,478.0,317.0,127.0