In [262]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import json

### Choose a year

In [263]:
year = '2023'

### Loading database

In [264]:
data  = pd.read_csv(f'datos\d{year}.csv')

In [265]:
data.rename(columns={'Unnamed: 0' : 'pyindex'}, inplace=True)

### Database Info

In [266]:
data.columns

Index(['pyindex', 'avisoid', 'empresaid', 'avisofechapublicacion',
       'avisovacante', 'mostrarsueldo', 'avisoexperiencia', 'expiracion',
       'dias', 'avisorepublicacion', 'avisocargo', 'areanombre',
       'actividadempresanombre', 'avisocuerpo', 'disponibilidadnombre',
       'avisoduracioncont', 'avisolugartrabajo', 'gradoescolarnombre',
       'situacionestudios', 'avisorequisitos', 'carreras', 'estado',
       'endpagado_o_gratuito', 'nivelnombre', 'carreras_array',
       'sueldoestimado', '_merge'],
      dtype='object')

In [267]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134731 entries, 0 to 134730
Data columns (total 27 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   pyindex                 134731 non-null  int64
 1   avisoid                 134731 non-null  float64
 2   empresaid               134731 non-null  int64
 3   avisofechapublicacion   134731 non-null  object
 4   avisovacante            134731 non-null  float64
 5   mostrarsueldo           134731 non-null  float64
 6   avisoexperiencia        134731 non-null  float64
 7   expiracion              134731 non-null  object
 8   dias                    134731 non-null  int64
 9   avisorepublicacion      134731 non-null  int64
 10  avisocargo              134731 non-null  object
 11  areanombre              134731 non-null  object
 12  actividadempresanombre  133349 non-null  object
 13  avisocuerpo             134723 non-null  object
 14  disponibilidadnombre    134731 non-null  object
 15  avisoduracioncont       25588 non-null   object
 16  avisolugartrabajo       119730 non-null  object
 17  gradoescolarnombre      134731 non-null  object
 18  situacionestudios       134731 non-null  object
 19  avisorequisitos         134727 non-null  object
 20  carreras                54855 non-null   object
 21  estado                  134731 non-null  object
 22  endpagado_o_gratuito    134731 non-null  object
 23  nivelnombre             134731 non-null  object
 24  carreras_array          0 non-null       float64
 25  sueldoestimado          134731 non-null  float64
 26  _merge                  134731 non-null  object
dtypes: float64(6), int64(4), object(17)
memory usage: 27.8+ MB

## Start

avisocuerpo \
avisocargo\
avisorequisitos

Secure datatypes

In [268]:
data['avisocuerpo'] = data['avisocuerpo'].astype(str)
data['avisocargo'] = data['avisocargo'].astype(str)
data['avisorequisitos'] = data['avisorequisitos'].astype(str)

#### Load diccionaries

In [269]:
file_path = "dic.json"

# Open and read the JSON file
with open(file_path, "r", encoding="utf-8") as json_file:
    dic = json.load(json_file)

Let's count

In [270]:
results = pd.read_excel('results.xlsx', index_col=0)

Bucket 1

In [271]:
data['avcu_b1'] = data['avisocuerpo'].apply(lambda text: any(item in text for item in dic['b1']))
data['avca_b1'] = data['avisocargo'].apply(lambda text: any(item in text for item in dic['b1']))
data['avre_b1'] = data['avisorequisitos'].apply(lambda text: any(item in text for item in dic['b1']))

Bucket 2

In [272]:
data['avcu_b2'] = data['avisocuerpo'].apply(lambda text: any(item in text for item in dic['b2']))
data['avca_b2'] = data['avisocargo'].apply(lambda text: any(item in text for item in dic['b2']))
data['avre_b2'] = data['avisorequisitos'].apply(lambda text: any(item in text for item in dic['b2']))

Bucket 3

In [273]:
data['avcu_b3'] = data['avisocuerpo'].apply(lambda text: any(item in text for item in dic['b3']))
data['avca_b3'] = data['avisocargo'].apply(lambda text: any(item in text for item in dic['b3']))
data['avre_b3'] = data['avisorequisitos'].apply(lambda text: any(item in text for item in dic['b3']))

Bucket 4

In [274]:
data['avcu_b4'] = data['avisocuerpo'].apply(lambda text: any(item in text for item in dic['b4']))
data['avca_b4'] = data['avisocargo'].apply(lambda text: any(item in text for item in dic['b4']))
data['avre_b4'] = data['avisorequisitos'].apply(lambda text: any(item in text for item in dic['b4']))

Saving

In [275]:
results['avcu_bucket 1'][2023] = data['avcu_b1'].sum()
results['avcu_bucket 2'][2023] = data['avcu_b2'].sum()
results['avcu_bucket 3'][2023] = data['avcu_b3'].sum()
results['avcu_bucket 4'][2023] = data['avcu_b4'].sum()

results['avca_bucket 1'][2023] = data['avca_b1'].sum()
results['avca_bucket 2'][2023] = data['avca_b2'].sum()
results['avca_bucket 3'][2023] = data['avca_b3'].sum()
results['avca_bucket 4'][2023] = data['avca_b4'].sum()

results['avre_bucket 1'][2023] = data['avre_b1'].sum()
results['avre_bucket 2'][2023] = data['avre_b2'].sum()
results['avre_bucket 3'][2023] = data['avre_b3'].sum()
results['avre_bucket 4'][2023] = data['avre_b4'].sum()

In [276]:
data.to_csv(f'datos\counted\d{year}_counted.csv')

In [277]:
results.to_excel('results.xlsx')

In [292]:
data.loc[data['avisorepublicacion'] == 1]

,pyindex,avisoid,empresaid,avisofechapublicacion,avisovacante,mostrarsueldo,avisoexperiencia,expiracion,dias,avisorepublicacion,...,avre_b1,avcu_b2,avca_b2,avre_b2,avcu_b3,avca_b3,avre_b3,avcu_b4,avca_b4,avre_b4
33,3086586,5387896.0,20760,2023-01-03,1.0,0.0,5.0,2023-01-15 00:00:00,12,1,...,False,False,False,False,False,False,False,False,False,False
36,3086866,5388192.0,855695,2023-01-03,1.0,0.0,3.0,2023-01-15 00:00:00,12,1,...,False,False,False,False,False,False,False,False,False,False
62,3087875,5389225.0,20760,2023-01-03,1.0,0.0,1.0,2023-01-18 00:00:00,15,1,...,False,False,False,False,False,False,False,False,False,False
65,3087911,5389261.0,921293,2023-01-03,1.0,0.0,2.0,2023-01-19 00:00:00,16,1,...,False,False,False,False,False,False,False,False,False,False
69,3087957,5389307.0,876334,2023-01-03,10.0,0.0,1.0,2023-02-17 00:00:00,45,1,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133941,3230981,5540937.0,651989,2023-08-14,1.0,0.0,2.0,2023-08-18 00:00:00,4,1,...,False,False,False,False,False,False,False,False,False,False
133965,3231005,5540962.0,1651,2023-08-14,1.0,0.0,3.0,2023-09-10 00:00:00,27,1,...,False,False,False,False,False,False,False,False,False,False
133971,3231011,5540968.0,850443,2023-08-14,1.0,0.0,10.0,2023-10-10 00:00:00,57,1,...,False,False,False,False,False,False,False,True,False,False
133986,3231026,5540984.0,715138,2023-08-15,1.0,0.0,1.0,2023-10-10 00:00:00,56,1,...,False,False,False,False,False,False,False,False,False,False
133991,3231031,5540989.0,715138,2023-08-15,1.0,1.0,1.0,2023-10-10 00:00:00,56,1,...,False,False,False,False,False,False,False,False,False,False

In [278]:
results

,avcu_bucket 1,avcu_bucket 2,avcu_bucket 3,avcu_bucket 4,avca_bucket 1,avca_bucket 2,avca_bucket 3,avca_bucket 4,avre_bucket 1,avre_bucket 2,avre_bucket 3,avre_bucket 4
2008,0.0,9.0,0.0,34.0,0.0,0.0,0.0,1.0,0.0,6.0,0.0,14.0
2009,0.0,98.0,0.0,100.0,0.0,1.0,0.0,4.0,0.0,19.0,0.0,9.0
2010,0.0,46.0,0.0,253.0,0.0,0.0,0.0,10.0,0.0,13.0,0.0,13.0
2011,0.0,69.0,0.0,192.0,0.0,9.0,0.0,40.0,0.0,13.0,0.0,16.0
2012,0.0,210.0,0.0,330.0,0.0,0.0,0.0,129.0,0.0,14.0,0.0,21.0
2013,0.0,109.0,0.0,234.0,0.0,0.0,0.0,5.0,0.0,8.0,0.0,9.0
2014,0.0,49.0,0.0,141.0,0.0,0.0,0.0,5.0,0.0,34.0,0.0,14.0
2015,0.0,75.0,0.0,120.0,0.0,4.0,0.0,8.0,0.0,16.0,0.0,26.0
2016,0.0,90.0,0.0,166.0,0.0,1.0,0.0,4.0,0.0,13.0,0.0,16.0
2017,0.0,73.0,5.0,370.0,0.0,8.0,0.0,9.0,0.0,12.0,0.0,21.0
2018,0.0,115.0,0.0,152.0,0.0,2.0,0.0,3.0,0.0,16.0,0.0,35.0
2019,0.0,296.0,0.0,335.0,0.0,17.0,0.0,6.0,0.0,17.0,0.0,3.0
2020,0.0,1320.0,13.0,960.0,0.0,40.0,0.0,249.0,0.0,251.0,0.0,91.0
2021,0.0,5603.0,35.0,4205.0,0.0,291.0,0.0,1765.0,0.0,1361.0,1.0,653.0
2022,0.0,5000.0,35.0,3726.0,0.0,82.0,1.0,1419.0,0.0,1365.0,6.0,484.0
2023,1.0,2105.0,40.0,1161.0,0.0,11.0,0.0,233.0,0.0,478.0,1.0,127.0