In [181]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import json

### Choose a year

In [182]:
year = '2021'

### Loading database

In [183]:
data  = pd.read_csv(f'datos\d{year}.csv')

In [184]:
data.rename(columns={'Unnamed: 0' : 'pyindex'}, inplace=True)

### Database Info

In [185]:
data.columns

Index(['pyindex', 'avisoid', 'empresaid', 'avisofechapublicacion',
       'avisovacante', 'mostrarsueldo', 'avisoexperiencia', 'expiracion',
       'dias', 'avisorepublicacion', 'avisocargo', 'areanombre',
       'actividadempresanombre', 'avisocuerpo', 'disponibilidadnombre',
       'avisoduracioncont', 'avisolugartrabajo', 'gradoescolarnombre',
       'situacionestudios', 'avisorequisitos', 'carreras', 'estado',
       'endpagado_o_gratuito', 'nivelnombre', 'carreras_array',
       'sueldoestimado', '_merge'],
      dtype='object')

In [186]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 295069 entries, 0 to 295068
Data columns (total 27 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   pyindex                 295069 non-null  int64
 1   avisoid                 295069 non-null  float64
 2   empresaid               295069 non-null  int64
 3   avisofechapublicacion   295069 non-null  object
 4   avisovacante            295069 non-null  float64
 5   mostrarsueldo           295069 non-null  float64
 6   avisoexperiencia        293585 non-null  float64
 7   expiracion              295069 non-null  object
 8   dias                    295069 non-null  int64
 9   avisorepublicacion      295069 non-null  int64
 10  avisocargo              295069 non-null  object
 11  areanombre              295069 non-null  object
 12  actividadempresanombre  291393 non-null  object
 13  avisocuerpo             295051 non-null  object
 14  disponibilidadnombre    290168 non-null  object
 15  avisoduracioncont       114559 non-null  object
 16  avisolugartrabajo       217158 non-null  object
 17  gradoescolarnombre      295069 non-null  object
 18  situacionestudios       295069 non-null  object
 19  avisorequisitos         292024 non-null  object
 20  carreras                82972 non-null   object
 21  estado                  295067 non-null  object
 22  endpagado_o_gratuito    295066 non-null  object
 23  nivelnombre             293937 non-null  object
 24  carreras_array          0 non-null       float64
 25  sueldoestimado          295069 non-null  float64
 26  _merge                  295069 non-null  object
dtypes: float64(6), int64(4), object(17)
memory usage: 60.8+ MB

## Start

avisocuerpo \
avisocargo\
avisorequisitos

Secure datatypes

In [187]:
data['avisocuerpo'] = data['avisocuerpo'].astype(str)
data['avisocargo'] = data['avisocargo'].astype(str)
data['avisorequisitos'] = data['avisorequisitos'].astype(str)

#### Load diccionaries

In [188]:
file_path = "dic.json"

# Open and read the JSON file
with open(file_path, "r", encoding="utf-8") as json_file:
    dic = json.load(json_file)

Let's count

In [189]:
results = pd.read_excel('results.xlsx', index_col=0)

Bucket 1

In [190]:
data['avcu_b1'] = data['avisocuerpo'].apply(lambda text: any(item in text for item in dic['b1']))
data['avca_b1'] = data['avisocargo'].apply(lambda text: any(item in text for item in dic['b1']))
data['avre_b1'] = data['avisorequisitos'].apply(lambda text: any(item in text for item in dic['b1']))

Bucket 2

In [191]:
data['avcu_b2'] = data['avisocuerpo'].apply(lambda text: any(item in text for item in dic['b2']))
data['avca_b2'] = data['avisocargo'].apply(lambda text: any(item in text for item in dic['b2']))
data['avre_b2'] = data['avisorequisitos'].apply(lambda text: any(item in text for item in dic['b2']))

Bucket 3

In [192]:
data['avcu_b3'] = data['avisocuerpo'].apply(lambda text: any(all(word in text.split() for word in item.split()) for item in dic['b3']))
data['avca_b3'] = data['avisocargo'].apply(lambda text: any(all(word in text.split() for word in item.split()) for item in dic['b3']))
data['avre_b3'] = data['avisorequisitos'].apply(lambda text: any(all(word in text.split() for word in item.split()) for item in dic['b3']))

Bucket 4

In [193]:
data['avcu_b4'] = data['avisocuerpo'].apply(lambda text: any(item in text for item in dic['b4']))
data['avca_b4'] = data['avisocargo'].apply(lambda text: any(item in text for item in dic['b4']))
data['avre_b4'] = data['avisorequisitos'].apply(lambda text: any(item in text for item in dic['b4']))

Saving

In [194]:
results['avcu_bucket 1'][2021] = data['avcu_b1'].sum()
results['avcu_bucket 2'][2021] = data['avcu_b2'].sum()
results['avcu_bucket 3'][2021] = data['avcu_b3'].sum()
results['avcu_bucket 4'][2021] = data['avcu_b4'].sum()

results['avca_bucket 1'][2021] = data['avca_b1'].sum()
results['avca_bucket 2'][2021] = data['avca_b2'].sum()
results['avca_bucket 3'][2021] = data['avca_b3'].sum()
results['avca_bucket 4'][2021] = data['avca_b4'].sum()

results['avre_bucket 1'][2021] = data['avre_b1'].sum()
results['avre_bucket 2'][2021] = data['avre_b2'].sum()
results['avre_bucket 3'][2021] = data['avre_b3'].sum()
results['avre_bucket 4'][2021] = data['avre_b4'].sum()

In [195]:
print("Sum of avcu_b1:", data['avcu_b1'].sum())
print("Sum of avcu_b2:", data['avcu_b2'].sum())
print("Sum of avcu_b3:", data['avcu_b3'].sum())
print("Sum of avcu_b4:", data['avcu_b4'].sum())

print("Sum of avca_b1:", data['avca_b1'].sum())
print("Sum of avca_b2:", data['avca_b2'].sum())
print("Sum of avca_b3:", data['avca_b3'].sum())
print("Sum of avca_b4:", data['avca_b4'].sum())

print("Sum of avre_b1:", data['avre_b1'].sum())
print("Sum of avre_b2:", data['avre_b2'].sum())
print("Sum of avre_b3:", data['avre_b3'].sum())
print("Sum of avre_b4:", data['avre_b4'].sum())

Sum of avcu_b1: 12354
Sum of avcu_b2: 14423
Sum of avcu_b3: 11470
Sum of avcu_b4: 1147
Sum of avca_b1: 8
Sum of avca_b2: 2676
Sum of avca_b3: 1643
Sum of avca_b4: 11
Sum of avre_b1: 1617
Sum of avre_b2: 3145
Sum of avre_b3: 1196
Sum of avre_b4: 50

In [196]:
data.to_csv(f'datos\counted\d{year}_counted.csv')

In [197]:
results.to_excel('results.xlsx')

In [198]:
results

,avcu_bucket 1,avcu_bucket 2,avcu_bucket 3,avcu_bucket 4,avca_bucket 1,avca_bucket 2,avca_bucket 3,avca_bucket 4,avre_bucket 1,avre_bucket 2,avre_bucket 3,avre_bucket 4
2008,1865,172,611,111,6,13,1,6,310,60,119,65
2009,1794,372,930,257,6,37,4,7,362,98,161,54
2010,2715,412,1067,467,11,53,4,5,666,87,152,83
2011,3931,617,2102,297,4,81,31,2,806,232,218,77
2012,4632,640,3263,565,29,324,118,19,809,234,257,80
2013,6168,657,2348,553,2,81,2,29,896,131,319,70
2014,5710,500,1885,489,4,62,1,15,651,185,288,92
2015,5670,545,2378,516,34,72,7,4,955,161,138,58
2016,6000,745,6111,492,8,53,5,13,580,146,135,77
2017,5502,643,5078,727,8,69,6,16,581,134,127,54
2018,5995,1071,8010,500,8,96,5,5,512,146,120,85
2019,7343,1285,8519,666,5,131,9,11,559,136,105,34
2020,5841,3482,4292,424,4,434,270,8,378,559,280,62
2021,12354,14423,11470,1147,8,2676,1643,11,1617,3145,1196,50
2022,15339,5000,11300,3726,14,82,46,1419,2029,1365,670,484
2023,8119,2105,4876,1161,9,11,6,233,1149,478,317,127