In [276]:
import numpy as np
import pandas as pd

### Choose year

In [277]:
year = 2023

Load Database

In [278]:
data  = pd.read_csv(f'datos\counted\d{year}_counted.csv', index_col=0)

In [279]:
data.columns

Index(['pyindex', 'avisoid', 'empresaid', 'avisofechapublicacion',
       'avisovacante', 'mostrarsueldo', 'avisoexperiencia', 'expiracion',
       'dias', 'avisorepublicacion', 'avisocargo', 'areanombre',
       'actividadempresanombre', 'avisocuerpo', 'disponibilidadnombre',
       'avisoduracioncont', 'avisolugartrabajo', 'gradoescolarnombre',
       'situacionestudios', 'avisorequisitos', 'carreras', 'estado',
       'endpagado_o_gratuito', 'nivelnombre', 'carreras_array',
       'sueldoestimado', '_merge', 'avcu_b1', 'avca_b1', 'avre_b1', 'avcu_b2',
       'avca_b2', 'avre_b2', 'avcu_b3', 'avca_b3', 'avre_b3', 'avcu_b4',
       'avca_b4', 'avre_b4', 'bucket1', 'bucket2', 'bucket3', 'bucket4', 'wfh',
       'duplicated', 'avisocuerpo_t', 'similars'],
      dtype='object')

In [280]:
data['bucket1'] = sum([data['avca_b1'], data['avcu_b1'], data['avre_b1']])
data['bucket2'] = sum([data['avca_b2'], data['avcu_b2'], data['avre_b2']])
data['bucket3'] = sum([data['avca_b3'], data['avcu_b3'], data['avre_b3']])
data['bucket4'] = sum([data['avca_b4'], data['avcu_b4'], data['avre_b4']])
data['wfh'] = sum([data['bucket1'], data['bucket2'], data['bucket3'], data['bucket4']])

In [281]:
data['duplicated'] = data.duplicated('avisocuerpo', keep='first')
# data['duplicated_avisocargo'] = data.duplicated('avisocargo', keep='first')
# data['duplicated_avisorequisitos'] = data.duplicated('avisorequisitos', keep='first')

In [282]:
# data['duplicated'] = data[['duplicated_avisocuerpo', 'duplicated_avisocargo', 'duplicated_avisorequisitos']].apply(lambda row: any(row), axis=1)

In [283]:
duplicated_ads = data['duplicated'].sum()
total = len(data)

In [284]:
ratio = duplicated_ads/total
ratio

0.3049854896052134

## Save results

In [285]:
duplicated = pd.read_excel('duplicated.xlsx', index_col=0)

In [286]:
duplicated['bucket 1'][year] = len(data.loc[(data['duplicated'] == True) & (data['bucket1'] == True)])
duplicated['bucket 2'][year] = len(data.loc[(data['duplicated'] == True) & (data['bucket2'] == True)])
duplicated['bucket 3'][year] = len(data.loc[(data['duplicated'] == True) & (data['bucket3'] == True)])
duplicated['bucket 4'][year] = len(data.loc[(data['duplicated'] == True) & (data['bucket4'] == True)])
duplicated['ratio'][year] = ratio

C:\Users\OscarJaramillo\AppData\Local\Temp\ipykernel_22312\2742068990.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicated['bucket 1'][year] = len(data.loc[(data['duplicated'] == True) & (data['bucket1'] == True)])
C:\Users\OscarJaramillo\AppData\Local\Temp\ipykernel_22312\2742068990.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicated['bucket 2'][year] = len(data.loc[(data['duplicated'] == True) & (data['bucket2'] == True)])
C:\Users\OscarJaramillo\AppData\Local\Temp\ipykernel_22312\2742068990.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicated['bucket 3'][year] = len(data.loc[(data['duplicated'] == True) & (data['bucket3'] == True)])
C:\Users\OscarJaramillo\AppData\Local\Temp\ipykernel_22312\2742068990.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicated['bucket 4'][year] = len(data.loc[(data['duplicated'] == True) & (data['bucket4'] == True)])
C:\Users\OscarJaramillo\AppData\Local\Temp\ipykernel_22312\2742068990.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicated['ratio'][year] = ratio

In [287]:
# data.to_csv(f'datos\counted\d{year}_counted.csv')

In [288]:
duplicated.to_excel('duplicated.xlsx')

In [289]:
duplicated

      bucket 1  bucket 2  bucket 3  bucket 4     ratio
2008       724        44       187        22  0.264127
2009       444       101       141        44  0.194387
2010       711        76       190       100  0.231084
2011      1467       205       901        69  0.327895
2012      1515       327      1596       237  0.327166
2013      2075       368       791       225  0.282880
2014      1462        90       736       138  0.235953
2015      1414       128       676       244  0.228096
2016      1089       304      3572       166  0.222901
2017       923        97      2424       279  0.173243
2018       994       144      5093        59  0.182745
2019      1704       276      5194       124  0.196854
2020      1218       524      1242        32  0.194710
2021      3806      4578      4299       170  0.283096
2022      5342      4157      5338       556  0.331808
2023      2676      1413      1788       159  0.304985