In [241]:
import numpy as np
import pandas as pd

### Choose year

In [242]:
year = 2023

Load Database

In [243]:
data  = pd.read_csv(f'datos\counted\d{year}_counted.csv', index_col=0)

In [244]:
data.columns

Index(['pyindex', 'avisoid', 'empresaid', 'avisofechapublicacion',
       'avisovacante', 'mostrarsueldo', 'avisoexperiencia', 'expiracion',
       'dias', 'avisorepublicacion', 'avisocargo', 'areanombre',
       'actividadempresanombre', 'avisocuerpo', 'disponibilidadnombre',
       'avisoduracioncont', 'avisolugartrabajo', 'gradoescolarnombre',
       'situacionestudios', 'avisorequisitos', 'carreras', 'estado',
       'endpagado_o_gratuito', 'nivelnombre', 'carreras_array',
       'sueldoestimado', '_merge', 'avcu_b1', 'avca_b1', 'avre_b1', 'avcu_b2',
       'avca_b2', 'avre_b2', 'avcu_b3', 'avca_b3', 'avre_b3', 'avcu_b4',
       'avca_b4', 'avre_b4'],
      dtype='object')

In [245]:
data['bucket1'] = sum([data['avca_b1'], data['avcu_b1'], data['avre_b1']])
data['bucket2'] = sum([data['avca_b2'], data['avcu_b2'], data['avre_b2']])
data['bucket3'] = sum([data['avca_b3'], data['avcu_b3'], data['avre_b3']])
data['bucket4'] = sum([data['avca_b4'], data['avcu_b4'], data['avre_b4']])
data['wfh'] = sum([data['bucket1'], data['bucket2'], data['bucket3'], data['bucket4']])

In [246]:
data['duplicated'] = data.duplicated(subset=['avisocuerpo', 'avisocargo', 'avisorequisitos'], keep='first')

In [247]:
data['duplicated'].sum()

27596

## Save results

In [248]:
duplicated = pd.read_excel('duplicated.xlsx', index_col=0)

In [249]:
duplicated['bucket 1'][year] = len(data.loc[(data['duplicated'] == True) & (data['bucket1'] == True)])
duplicated['bucket 2'][year] = len(data.loc[(data['duplicated'] == True) & (data['bucket2'] == True)])
duplicated['bucket 3'][year] = len(data.loc[(data['duplicated'] == True) & (data['bucket3'] == True)])
duplicated['bucket 4'][year] = len(data.loc[(data['duplicated'] == True) & (data['bucket4'] == True)])

In [250]:
data.to_csv(f'datos\counted\d{year}_counted.csv')

In [251]:
duplicated.to_excel('duplicated.xlsx')

In [252]:
duplicated

      bucket 1  bucket 2  bucket 3  bucket 4
2008     336.0      20.0     122.0       9.0
2009     260.0      23.0      78.0      29.0
2010     314.0      18.0      83.0      21.0
2011     792.0     152.0     433.0      32.0
2012     890.0     247.0    1271.0     135.0
2013    1361.0     308.0     570.0     165.0
2014    1022.0      54.0     375.0      70.0
2015     824.0      45.0     411.0     100.0
2016     671.0     230.0    3283.0      98.0
2017     510.0      38.0    2120.0     199.0
2018     436.0      46.0    4745.0      33.0
2019    1005.0     160.0    4746.0      51.0
2020     668.0     319.0     835.0      15.0
2021    1864.0    3482.0    2988.0     117.0
2022    3092.0    2952.0    3966.0     416.0
2023    1629.0     896.0    1350.0      98.0