In [1]:
import numpy as np
import pandas as pd

### Choose year

In [16]:
year = 2008

Load Database

In [17]:
data  = pd.read_csv(f'datos\counted\d{year}_counted.csv', index_col=0)

In [19]:
data.columns

Index(['pyindex', 'avisoid', 'empresaid', 'avisofechapublicacion',
       'avisovacante', 'mostrarsueldo', 'avisoexperiencia', 'expiracion',
       'dias', 'avisorepublicacion', 'avisocargo', 'areanombre',
       'actividadempresanombre', 'avisocuerpo', 'disponibilidadnombre',
       'avisoduracioncont', 'avisolugartrabajo', 'gradoescolarnombre',
       'situacionestudios', 'avisorequisitos', 'carreras', 'estado',
       'endpagado_o_gratuito', 'nivelnombre', 'carreras_array',
       'sueldoestimado', '_merge', 'avcu_b1', 'avca_b1', 'avre_b1', 'avcu_b2',
       'avca_b2', 'avre_b2', 'avcu_b3', 'avca_b3', 'avre_b3', 'avcu_b4',
       'avca_b4', 'avre_b4'],
      dtype='object')

In [48]:
data['bucket1'] = sum([data['avca_b1'], data['avcu_b1'], data['avre_b1']])
data['bucket2'] = sum([data['avca_b2'], data['avcu_b2'], data['avre_b2']])
data['bucket3'] = sum([data['avca_b3'], data['avcu_b3'], data['avre_b3']])
data['bucket4'] = sum([data['avca_b4'], data['avcu_b4'], data['avre_b4']])
data['wfh'] =

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [47]:
data.loc[data['wfh'] == 1]

,pyindex,avisoid,empresaid,avisofechapublicacion,avisovacante,mostrarsueldo,avisoexperiencia,expiracion,dias,avisorepublicacion,...,avca_b3,avre_b3,avcu_b4,avca_b4,avre_b4,bucket1,bucket2,bucket3,bucket4,wfh
100,291,183274.0,6059,2008-03-07,10.0,0.0,NaN,2008-06-05 00:00:00,90,0,...,False,False,False,False,False,1,0,0,0,1
110,302,184656.0,36258,2008-01-22,5.0,0.0,NaN,2008-04-21 00:00:00,90,0,...,False,False,False,False,False,1,0,0,0,1
123,315,185341.0,2674,2008-01-08,1.0,0.0,8.0,2008-04-07 00:00:00,90,0,...,False,False,False,False,False,1,0,0,0,1
125,317,185433.0,41550,2008-04-07,3.0,0.0,3.0,2008-07-06 00:00:00,90,0,...,False,False,False,False,False,1,0,0,0,1
126,318,185461.0,36258,2008-02-29,10.0,0.0,NaN,2008-05-29 00:00:00,90,0,...,False,False,False,False,False,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133406,135005,371944.0,119,2008-12-30,2.0,0.0,1.0,2009-03-30 00:00:00,90,0,...,False,False,False,False,False,1,0,0,0,1
133491,135123,372072.0,11808,2008-12-31,15.0,0.0,1.0,2009-03-31 00:00:00,90,0,...,False,False,False,False,False,1,0,0,0,1
133508,135144,372096.0,23032,2008-12-31,10.0,1.0,NaN,2009-03-31 00:00:00,90,0,...,False,False,False,False,False,0,1,0,0,1
133522,135159,372114.0,593503,2008-12-31,1.0,0.0,1.0,2009-03-31 00:00:00,90,0,...,False,False,False,False,False,1,0,0,0,1
133589,192912,435760.0,2674,2008-07-14,1.0,0.0,3.0,2009-08-13 00:00:00,395,0,...,False,False,False,False,False,1,0,0,0,1

In [46]:
data['wfh'].sum()

3157