In [2]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [3]:
data = {}
for tp in range(4):
    data[tp+1]  = pd.read_csv(f'datos\counted\d{tp+1}_counted.csv', index_col=0)

In [19]:
data[1].columns

Index(['avisoid', 'empresaid', 'avisofechapublicacion', 'avisovacante',
       'mostrarsueldo', 'avisoexperiencia', 'expiracion', 'dias',
       'avisorepublicacion', 'avisocargo', 'areanombre',
       'actividadempresanombre', 'avisocuerpo', 'disponibilidadnombre',
       'avisoduracioncont', 'avisolugartrabajo', 'gradoescolarnombre',
       'situacionestudios', 'avisorequisitos', 'carreras', 'estado',
       'endpagado_o_gratuito', 'nivelnombre', 'carreras_array',
       'sueldoestimado', '_merge', 'avcu_b1', 'avca_b1', 'avre_b1', 'avcu_b2',
       'avca_b2', 'avre_b2', 'avcu_b3', 'avca_b3', 'avre_b3', 'avcu_b4',
       'avca_b4', 'avre_b4', 'teletrabajo_', 'bucket1', 'bucket2', 'bucket3',
       'bucket4', 'wfh', 'duplicates_avisocuerpo', 'duplicates_avisocargo',
       'similars', 'pseudoindex'],
      dtype='object')

Dates

In [16]:
dates = np.concatenate((data[1]['avisofechapublicacion'].unique(), data[2]['avisofechapublicacion'].unique(), 
                        data[3]['avisofechapublicacion'].unique(), data[4]['avisofechapublicacion'].unique()), axis=0)

In [26]:
duplicates_avisocuerpo = pd.concat([data[1][['avisofechapublicacion', 'duplicates_avisocuerpo']], data[2][['avisofechapublicacion', 'duplicates_avisocuerpo']],
                                    data[3][['avisofechapublicacion', 'duplicates_avisocuerpo']], data[4][['avisofechapublicacion', 'duplicates_avisocuerpo']]], axis=0, ignore_index=True)

In [28]:
duplicates_avisocargo = pd.concat([data[1][['avisofechapublicacion', 'duplicates_avisocargo']], data[2][['avisofechapublicacion', 'duplicates_avisocargo']],
                                    data[3][['avisofechapublicacion', 'duplicates_avisocargo']], data[4][['avisofechapublicacion', 'duplicates_avisocargo']]], axis=0, ignore_index=True)

In [30]:
duplicates_avisocargo

        avisofechapublicacion  duplicates_avisocargo
0                  2013-01-27                  False
1                  2013-01-27                  False
2                  2013-01-27                  False
3                  2016-06-17                  False
4                  2013-01-29                  False
...                       ...                    ...
3231766            2023-08-15                  False
3231767            2023-08-15                  False
3231768            2023-08-15                  False
3231769            2023-08-15                  False
3231770            2023-08-15                   True

[3231771 rows x 2 columns]

In [18]:
len(dates)

5701

In [12]:
dates.append(['2022-01-27', '2022-01-18'])

AttributeError: 'numpy.ndarray' object has no attribute 'append'